<script type="application/json" id="tag_names" charset="utf-8">
	{"tags": <%= Tag.all.to_json.html_safe %>}
</script>

<script type="text/template" id="tag_template" charset="utf-8">
	<select name="tag_ids[]" id="secret_tags">
		<%% tags.forEach(function(tag) { %>
			<option value="<%%= tag.id %>"><%%= tag.name %></option>
			<%% }); %>
	</select>
</script>

<form action="<%= secrets_url %>" method="post" accept-charset="utf-8">
	<input type="hidden" name="authenticity_token"
	value="<%= form_authenticity_token %>" id="authenticity_token">
	<input type="hidden" name="secret[recipient_id]" value="<%= params[:id] %>">
	<label for="title">title</label><input type="text" name="secret[title]" value="" id="title">

	<h2>Add Tags</h2>
	<div id="tags"></div>
	<button value="Add another tag" id="add_tag">Add Another Tag</button>
	<p><input type="submit" value="Continue &rarr;"></p>
</form>

<script type="text/javascript" charset="utf-8">
	$(function () {
		function addTag() {
			var myTagTemplate = $('#tag_template').html();
			var jsonTags = JSON.parse($('#tag_names').html());
			var myCompiledTemplate = _.template(myTagTemplate, { tags: jsonTags.tags });
			$('#tags').append(myCompiledTemplate);
		}
		addTag();
		$('#add_tag').on('click', function(event) {
			event.preventDefault();
			addTag() });
	});
</script>

