<div id="secrets-list"></div>
<div id="secret-form">
  <input type="text" id="secret-text-field"></input>
  <button id="submit-secret">Submit!</button>
</div>

<script type="text/javascript">
  $(function () {
    var secretsListEl = $('#secrets-list');

    var secretsLister = new SS.SecretsView(
      secretsListEl, SS.Secret.fetchAll)
    secretsLister.render();

    var secretTextFieldEl = $('#secret-text-field');
    var submitButtonEl = $('#submit-secret');
    var secretsCreator = new SS.SecretsCreator(
      secretTextFieldEl,
      submitButtonEl,
      function () {
        // re-render secrets list
        secretsLister.render();
    }).bind();
  });
</script>
