  <div id="secrets-list"></div>
  <div id="secret-form">
    <input type="text" id="secret-text-field"></input>
    <button id="submit-secret">Submit!</button>
  </div>

  <script type="text/javascript">
    $(function () {
      var secretsList = $('#secrets-list');
      SS.Secret.fetchAll(function () {
        new SS.SecretsLister(
          secretsList, SS.Secret.all).render();
      });

      var secretTextField = $('#secret-text-field');
      var submitButton = $('#submit-secret');
      new SS.SecretsCreator(
        secretTextField,
        submitButton,
        function () {
          // clear text field
          secretTextField.val("");

          // could refresh SecretsLister, but I'm lazy. Just hit
          // ctrl+R.
      }).bind();
    });
  </script>
