<div id="secrets-list"></div>
<div id="secret-form">
  <input type="text" id="secret-text-field"></input>
  <button id="submit-secret">Submit!</button>
</div>

<script type="text/javascript">
  $(function () {
    var secretsListEl = $('#secrets-list');

    var secretsView = new SS.SecretsView(
      secretsListEl, SS.Secret.fetchAll)
    // Re-render view on each saved secret
    Secret.saveCallbacks.push(function () {
      secretsView.render();
    });
    secretsView.render();

    var secretTextFieldEl = $('#secret-text-field');
    var submitButtonEl = $('#submit-secret');
    var secretFormView = new SS.SecretFormView(
      secretTextFieldEl,
      submitButtonEl,
      function () {
        secret.save();
      }
    ).bind();
  });
</script>
