<h1 id="submit_a_secret">Submit a Secret</h1>
<form action="<%= secrets_url %>" method="post" accept-charset="utf-8">
	<input type="hidden" name="authenticity_token"
	value="<%= form_authenticity_token %>" id="authenticity_token">
	<input type="hidden" name="secret[recipient_id]" value="<%= params[:user_id] %>">
	<label for="title">title</label><input type="text" name="secret[title]" value="" id="title">

	<p><input type="submit" value="Continue &rarr;"></p>
</form>